---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=bath.lccn=2011281911&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <nonSort>The </nonSort>\n    <title>RSpec book</title>\n
        \   <subTitle>behaviour-driven development with RSpec, Cucumber, and Friends</subTitle>\n
        \ </titleInfo>\n  <name type=\"personal\">\n    <namePart>Chelimsky, David.</namePart>\n
        \ </name>\n  <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">bibliography</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">txu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Lewisville, Tex</placeTerm>\n
        \   </place>\n    <publisher>Pragmatic</publisher>\n    <dateIssued>2010</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>xxiii,
        420 p. : ill. ; 23 cm.</extent>\n  </physicalDescription>\n  <abstract type=\"Summary\">Provides
        information on developing Rails 3 applications using RSpec and Cucumber.</abstract>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">by David Chelimsky
        ... [et al.].</note>\n  <note type=\"bibliography\">Includes bibliographical
        references (p. [399]-400) and index.</note>\n  <subject authority=\"sears\">\n
        \   <titleInfo>\n      <title>Ruby on rails (Electronic resource)</title>\n
        \   </titleInfo>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Computer
        software</topic>\n    <topic>Development</topic>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Ruby (Computer program language)</topic>\n
        \ </subject>\n  <subject authority=\"sears\">\n    <topic>Computer software</topic>\n
        \   <topic>Design</topic>\n  </subject>\n  <subject authority=\"sears\">\n
        \   <topic>Ruby (Computer language)</topic>\n  </subject>\n  <classification
        authority=\"lcc\">TK5105.8885.R83 C44 2010</classification>\n  <classification
        authority=\"ddc\" edition=\"22\">005.117</classification>\n  <identifier type=\"isbn\">9781934356371
        (pbk.)</identifier>\n  <identifier type=\"isbn\">1934356379 (pbk.)</identifier>\n
        \ <identifier type=\"lccn\">2011281911</identifier>\n  <identifier type=\"oclc\">ocn551430947</identifier>\n
        \ <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">UKM</recordContentSource>\n    <recordCreationDate encoding=\"marc\">110516</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20110914124355.0</recordChangeDate>\n
        \   <recordIdentifier>16781422</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.4 using MARC21slim2MODS3-4.xsl\n\t\t\t\t(Revision
        1.94 2014/02/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records></zs:searchRetrieveResponse>\n"
  recorded_at: Wed, 13 Aug 2014 07:35:43 GMT
recorded_with: VCR 2.9.2
