---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=bath.lccn=2010526151&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <title>Search patterns</title>\n  </titleInfo>\n  <titleInfo
        type=\"alternative\" displayLabel=\"On cover:\">\n    <title>Design for discovery</title>\n
        \ </titleInfo>\n  <name type=\"personal\" usage=\"primary\">\n    <namePart>Morville,
        Peter.</namePart>\n  </name>\n  <name type=\"personal\">\n    <namePart>Callender,
        Jeffery.</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <genre authority=\"marcgt\">bibliography</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">cau</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Sebastopol, CA</placeTerm>\n
        \   </place>\n    <publisher>O'Reilly Media</publisher>\n    <dateIssued>2010</dateIssued>\n
        \   <edition>1st ed.</edition>\n    <issuance>monographic</issuance>\n  </originInfo>\n
        \ <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>x, 180 p. : ill. (chiefly col.) ; 24 cm.</extent>\n  </physicalDescription>\n
        \ <abstract type=\"Summary\">This book explores design patterns that apply
        across the categories of web, e-commerce, enterprise, desktop, mobile, social,
        and realtime search and discovery. The authors cover topics such as relevance
        ranking, faceted navigation, multi-touch, and augmented reality together with
        a practical guide to help us make search better today--Derived from p. [4]
        of cover.</abstract>\n  <tableOfContents>Pattern recognition -- The anatomy
        of a search -- Behavior -- Design patterns -- Engines of discovery -- Tangible
        futures.</tableOfContents>\n  <note type=\"statement of responsibility\" altRepGroup=\"00\">Peter
        Morville and Jeffery Callender ; [editor, Simon St. Laurent ; illustrators,
        Jeff Calender and Nellie McKesson].</note>\n  <note>\"This is a book about
        the design of user interfaces for search and discovery\"--Pref.</note>\n  <note>\"January
        2010\"--T.p. verso.</note>\n  <note type=\"bibliography\">Includes bibliographical
        references and index.</note>\n  <subject authority=\"lcsh\">\n    <topic>Database
        design</topic>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Database
        searching</topic>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>User
        interfaces (Computer systems)</topic>\n  </subject>\n  <classification authority=\"lcc\">QA76.9.D26
        M675 2010</classification>\n  <classification authority=\"ddc\" edition=\"23\">005.4/37</classification>\n
        \ <identifier type=\"isbn\">9780596802271 (pbk.)</identifier>\n  <identifier
        type=\"isbn\">0596802277 (pbk.)</identifier>\n  <identifier type=\"lccn\">2010526151</identifier>\n
        \ <identifier type=\"oclc\">ocn441177238</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">UKM</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">110609</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20111028110535.0</recordChangeDate>\n    <recordIdentifier>16819621</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.4 using MARC21slim2MODS3-4.xsl\n\t\t\t\t(Revision
        1.94 2014/02/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records></zs:searchRetrieveResponse>\n"
  recorded_at: Wed, 13 Aug 2014 07:51:03 GMT
recorded_with: VCR 2.9.2
