---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=bath.lccn=2007012024&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <title>Everything is miscellaneous</title>\n    <subTitle>the
        power of the new digital disorder</subTitle>\n  </titleInfo>\n  <name type=\"personal\"
        usage=\"primary\">\n    <namePart>Weinberger, David</namePart>\n    <namePart
        type=\"date\">1950-</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <genre authority=\"marcgt\">bibliography</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">nyu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">New York</placeTerm>\n
        \   </place>\n    <publisher>Times Books</publisher>\n    <dateIssued>2007</dateIssued>\n
        \   <edition>1st ed.</edition>\n    <issuance>monographic</issuance>\n  </originInfo>\n
        \ <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>277 p. : ill. ; 25 cm.</extent>\n  </physicalDescription>\n  <abstract
        type=\"Summary\">Philosopher Weinberger shows how the digital revolution is
        radically changing the way we make sense of our lives. Human beings constantly
        collect, label, and organize data--but today, the shift from the physical
        to the digital is mixing, burning, and ripping our lives apart. In the past,
        everything had its one place--the physical world demanded it--but now everything
  [...]
