---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=bath.lccn=2012471967&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <nonSort>The </nonSort>\n    <title>Rails view</title>\n
        \   <subTitle>creating a beautiful and maintainable user experience</subTitle>\n
        \ </titleInfo>\n  <name type=\"personal\" usage=\"primary\">\n    <namePart>Athayde,
        John.</namePart>\n  </name>\n  <name type=\"personal\">\n    <namePart>Williams,
        Bruce.</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n  <genre
        authority=\"marcgt\">bibliography</genre>\n  <originInfo>\n    <place>\n      <placeTerm
        type=\"code\" authority=\"marccountry\">txu</placeTerm>\n    </place>\n    <place>\n
        \     <placeTerm type=\"text\">Dallas, Tx</placeTerm>\n    </place>\n    <publisher>Pragmatic
        Bookshelf</publisher>\n    <dateIssued>2012</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>xiv, 245 p. : ill. ; 23 cm.</extent>\n  </physicalDescription>\n
        \ <abstract type=\"Summary\">\"Break free from tangles of logic and markup
        in your views, and implement your user interface in Rails cleanly and maintainably.
        Build up solid, sustainable layouts with HTML5. Then learn to manage your
        forms and keep your markup clean. Learn when (and when not) to use Presenters,
        and how to tame HTML emails. Master the asset pipeline introduced in Rails
        3.1 as you use Sass and CoffeeScript to create easy-to-manage code for enjoyable
        user interfaces\"--P. [4] of cover.</abstract>\n  <note type=\"statement of
        responsibility\" altRepGroup=\"00\">John Athayde, Bruce Williams.</note>\n
        \ <note type=\"bibliography\">Includes bibliographical references (p. [235])
        and index.</note>\n  <subject authority=\"lcsh\">\n    <titleInfo>\n      <title>Ruby
        on rails (Electronic resource)</title>\n    </titleInfo>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Web site development</topic>\n    <genre>Handbooks,
        manuals, etc</genre>\n  </subject>\n  <relatedItem type=\"series\">\n    <titleInfo>\n
        \     <title>Pragmatic programmers</title>\n    </titleInfo>\n  </relatedItem>\n
        \ <relatedItem type=\"series\">\n    <titleInfo>\n      <title>Facets of Ruby
        series</title>\n    </titleInfo>\n  </relatedItem>\n  <identifier type=\"isbn\">9781934356876
        (pbk.)</identifier>\n  <identifier type=\"isbn\">1934356875 (pbk.)</identifier>\n
        \ <identifier type=\"lccn\">2012471967</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">121102</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20121102161644.0</recordChangeDate>\n    <recordIdentifier>17516814</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.4 using MARC21slim2MODS3-4.xsl\n\t\t\t\t(Revision
        1.94 2014/02/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records></zs:searchRetrieveResponse>\n"
  recorded_at: Tue, 12 Aug 2014 16:53:44 GMT
recorded_with: VCR 2.9.2
