---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=test&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Cognitive synthesis test</title>\n  </titleInfo>\n
        \ <name type=\"personal\" usage=\"primary\">\n    <namePart>Abraham, P. P.
        (Pamela Pressley)</namePart>\n    <namePart type=\"date\">1951-</namePart>\n
        \ </name>\n  <name type=\"personal\">\n    <namePart>Okoniewski, L. A. (Lisa
        Anne)</namePart>\n    <namePart type=\"date\">1953-</namePart>\n  </name>\n
        \ <name type=\"personal\">\n    <namePart>Lehman, M. (Mark)</namePart>\n    <namePart
        type=\"date\">1955-</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <genre authority=\"marcgt\">bibliography</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">gw</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Berlin</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">New York</placeTerm>\n
        \   </place>\n    <publisher>Springer-Verlag</publisher>\n    <dateIssued>c1987</dateIssued>\n
        \   <dateIssued encoding=\"marc\">1987</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>vii, xii p. : col. ill. ; 30 cm.</extent>\n  </physicalDescription>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">P.P. Abraham,
        L.A. Okoniewski, M. Lehman ; with a foreword by L. Bellak.</note>\n  <note>Accompanied
        by 8 diagnostic cards.</note>\n  <note type=\"bibliography\">Bibliography:
        p. 5.</note>\n  <subject authority=\"lcsh\">\n    <topic>Cognitive Synthesis
        Test</topic>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Schizophrenia</topic>\n
        \   <topic>Diagnosis</topic>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <topic>Psychoses</topic>\n    <topic>Diagnosis</topic>\n  </subject>\n
        \ <subject authority=\"mesh\">\n    <topic>Cognition Disorders</topic>\n    <topic>diagnosis</topic>\n
        \ </subject>\n  <subject authority=\"mesh\">\n    <topic>Psychological Tests</topic>\n
        \   <topic>instrumentation</topic>\n  </subject>\n  <subject authority=\"mesh\">\n
        \   <topic>Schizophrenic Psychology</topic>\n  </subject>\n  <classification
        authority=\"lcc\">RC553.C64 A27 1987</classification>\n  <classification authority=\"nlm\">WM
        145 A159c</classification>\n  <classification authority=\"ddc\" edition=\"19\">616.89/8075</classification>\n
        \ <identifier type=\"isbn\">0387173307 (U.S. : pbk.)</identifier>\n  <identifier
        type=\"lccn\">86031458</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DNLM/DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">861202</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20190118010451.0</recordChangeDate>\n    <recordIdentifier>517998</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n    <languageOfCataloging>\n      <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n    </languageOfCataloging>\n
        \ </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>J. von Staudingers Kommentar zum Bu&#x308;rgerlichen
        Gesetzbuch mit Einfu&#x308;hrungs[...]
