---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=test&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>Seventh-Day Adventism in crisis</title>\n    <subTitle>gender
        and sectarian change in an emerging religion</subTitle>\n  </titleInfo>\n
        \ <name type=\"personal\" usage=\"primary\">\n    <namePart>Vance, Laura Lee.</namePart>\n
        \ </name>\n  <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">bibliography</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">ilu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Urbana</placeTerm>\n
        \   </place>\n    <publisher>University of Illinois Press</publisher>\n    <dateIssued>c1999</dateIssued>\n
        \   <dateIssued encoding=\"marc\">1999</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>x, 261 p. : ill. ; 24 cm.</extent>\n  </physicalDescription>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">Laura L. Vance.</note>\n
        \ <note type=\"bibliography\">Includes bibliographical references (p. [231]-255)
        and index.</note>\n  <subject authority=\"lcsh\">\n    <topic>Ordination of
        women</topic>\n    <topic>Seventh-Day Adventists</topic>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Seventh-Day Adventists</topic>\n    <topic>Doctrines</topic>\n
        \ </subject>\n  <classification authority=\"lcc\">BX6115 .V36 1999</classification>\n
        \ <classification authority=\"ddc\" edition=\"21\">286.7/32/09</classification>\n
        \ <identifier type=\"isbn\">0252024346 (alk. paper)</identifier>\n  <identifier
        type=\"isbn\">0252067444 (pbk. : alk. paper)</identifier>\n  <identifier type=\"lccn\">98019765</identifier>\n
        \ <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">980512</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20161230080522.0</recordChangeDate>\n
        \   <recordIdentifier>1197978</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.5 using MARC21slim2MODS3-5.xsl\n\t\t\t\t(Revision
        1.106 2014/12/19)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>Access to the genome</title>\n    <subTitle>the
        challenge to equality</subTitle>\n  </[...]
