---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=test&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>$#*! my dad says</title>\n    <partName>The truth
        about dads and moms</partName>\n  </titleInfo>\n  <titleInfo type=\"alternative\">\n
        \   <title>Truth about dads and moms</title>\n  </titleInfo>\n  <titleInfo
        type=\"alternative\" displayLabel=\"Copyright application title:\">\n    <title>S#*!
        my dad says</title>\n    <partName>The truth about dads and moms</partName>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>Shit my dad
        says</title>\n    <partName>The truth about dads and moms</partName>\n  </titleInfo>\n
        \ <titleInfo type=\"alternative\">\n    <title>Bleep my dad says</title>\n
        \   <partName>The truth about dads and moms</partName>\n  </titleInfo>\n  <name
        type=\"corporate\">\n    <namePart>Copyright Collection (Library of Congress)</namePart>\n
        \ </name>\n  <typeOfResource>moving image</typeOfResource>\n  <genre authority=\"marcgt\">motion
        picture</genre>\n  <genre authority=\"lcgft\">Situation comedies (Television
        programs)</genre>\n  <genre authority=\"lcgft\">Fiction television programs.</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">xxu</placeTerm>\n
        \   </place>\n    <dateIssued>2010-10-07</dateIssued>\n    <dateIssued encoding=\"marc\">2010</dateIssued>\n
        \   <dateCaptured encoding=\"iso8601\">20101007</dateCaptured>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marccategory\">videorecording</form>\n
        \   <form authority=\"marcsmd\">videocassette</form>\n    <extent>viewing
        copy 1 videocassette of 1 (Betacam SP) (30 min.) : sd., col. ; 1/2 in.</extent>\n
        \ </physicalDescription>\n  <abstract type=\"Summary\">\"After Ed takes Henry
        out to an early dinner one night, they bump into Tim (Tim Bagley), who was
        fired for forging Ed's driver's test. Henry disagrees with Ed on what should
        be done to fix it. Meanwhile Bonnie gets an expensive make-up job and is determined
        to make it last to get her money out it. Also Vince tells Henry of what really
        happened when they were younger\"--Wikipedia WWW site, viewed June 9, 2014.</abstract>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">directed by
        \ Rob Schiller ; written by Erin Ehrlich.</note>\n  <note>Episode no. 3.</note>\n
        \ <note>Production no. 2J5633.</note>\n  <note>Sources used: video container;
        Copyright catalog online; Copyright description; Wikipedia WWW site, viewed
        June 9, 2014.</note>\n  <note type=\"performers\">William Shatner, Tim Bagley.</note>\n
        \ <classification authority=\"lcc\">VAP 8696 (viewing copy)</classification>\n
        \ <identifier type=\"lccn\">2014603696</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <descriptionStandard>amim</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">140609</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20140609105314.0</recordChangeDate>\n
        \   <recordIdentifier>18181426</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.5 using MARC21slim2MODS3-5.xsl\n\t\t\t\t(Revision
        1.106 2014/12/19)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>1 &amp; 2 Tesalonika, James, 1, 2, &amp; 3 John</title>\n
        \ </titleInfo>\n  <titleInfo type=\"uniform\">\n    <title>Bible</title>\n
        \   <partName>New Testament. Selections. Mayoyao Ifugao</partName>\n  </titleInfo>\n
        \ <typeOfResource>text</typeOfResource>\n  <originInfo>\n    <place>\n      <placeTerm
        type=\"code\" authority=\"marccountry\">cou</placeTerm>\n    </place>\n    <place>\n
        \     <placeTerm type=\"text\">Colorado Springs, CO</placeTerm>\n    </place>\n
        \   <publisher>International Bible Society</publisher>\n    <dateIssued>1995</dateIssued>\n
        \   <edition>Test ed.</edition>\n    <issuance>monographic</issuance>\n  </originInfo>\n
        \ <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">phi</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>36 p. : ill. ; 22 cm.</extent>\n  </physicalDescription>\n  <note
        type=\"language\">In Mayoyao Ifugao.</note>\n  <classification authority=\"lcc\">BS335
        .I36 1995</classification>\n  <identifie[...]
