---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=bath.lccn=&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:diagnostics
        xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/"><diag:diagnostic><diag:uri>info:srw/diagnostic/1/10</diag:uri><diag:details>query_transform::query_transform:cql_parser_string
        failed: bath.lccn=</diag:details><diag:message>Query syntax error</diag:message></diag:diagnostic></zs:diagnostics></zs:searchRetrieveResponse>

'
  recorded_at: Mon, 11 Aug 2014 06:53:34 GMT
recorded_with: VCR 2.9.2
