---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn="^"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest><zs:diagnostics xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/"><diag:diagnostic><diag:uri>info:srw/diagnostic/1/1</diag:uri><diag:details>search failed at opac rc=1 (backend=z3950.loc.gov:7098/voyager)</diag:details><diag:message>Permanent system error</diag:message></diag:diagnostic></zs:diagnostics></zs:searchRetrieveResponse>
  recorded_at: Thu, 07 Jul 2016 15:06:05 GMT
recorded_with: VCR 3.0.3
