---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&recordSchema=mods&query=library&version=1.1&operation=searchRetrieve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <title/>\n  </titleInfo>\n  <typeOfResource>text</typeOfResource>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">np</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Kathmandu</placeTerm>\n
        \   </place>\n    <publisher/>\n    <dateIssued>2008</dateIssued>\n    <dateIssued
        encoding=\"marc\">2013</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>p.</extent>\n  </physicalDescription>\n  <note type=\"statement
        of responsibility\" altRepGroup=\"00\">.</note>\n  <identifier type=\"lccn\"/>\n
        \ <identifier type=\"stock number\">Library of Congress -- New Delhi Overseas
        Office</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">130904</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20130904000057.0</recordChangeDate>\n    <recordIdentifier>17874249</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.4 using MARC21slim2MODS3-4.xsl\n\t\t\t\t(Revision
        1.94 2014/02/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.4\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd\">\n
        \ <titleInfo>\n    <title/>\n  </titleInfo>\n  <typeOfResource>moving image</typeOfResource>\n
        \ <genre authority=\"marcgt\">videorecording</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">ii</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">New Delhi</placeTerm>\n
        \   </place>\n    <publisher>public Service Broadcasting Trust</publisher>\n
        \   <dateIssued>2011</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marccategory\">videorecording</form>\n
        \   <form authority=\"marcsmd\">videodisc</form>\n    <extent>1 videodisc
        of 1 (DVD) (ca. xx min.) : sd., col. ; 4 3/4 in. viewing copy.</extent>\n
        \ </physicalDescription>\n  <abstract type=\"Summary\">Summary note.</abstract>\n
        \ <targetAudience authority=\"marctarget\">general</targetAudience>\n  <note
        type=\"statement of responsibility\" altRepGroup=\"00\">.</note>\n  <note
        type=\"acquisition\">Purchase./Gift.</note>\n  <subject>\n    <geographicCode
        authority=\"marcgac\">a-ii---</geographicCode>\n  </subject>\n  <identifier
        type=\"lccn\"/>\n  <identifier type=\"stock number\">Library of Congress --
        New Delhi Overseas Office</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">130511</recordCreationDate>\n    <recordChangeDate
        [...]
