---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=11&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>$#*! my dad says</title>\n    <partName>Dog Ed pursuit</partName>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>Dog Ed pursuit</title>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\" displayLabel=\"Copyright
        application title:\">\n    <title>S#*! my dad says</title>\n    <partName>Dog
        Ed pursuit</partName>\n  </titleInfo>\n  <titleInfo type=\"alternative\">\n
        \   <title>Shit my dad says</title>\n    <partName>Dog Ed pursuit</partName>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>Bleep my dad
        says</title>\n    <partName>Dog Ed pursuit</partName>\n  </titleInfo>\n  <name
        type=\"corporate\">\n    <namePart>Copyright Collection (Library of Congress)</namePart>\n
        \ </name>\n  <typeOfResource>moving image</typeOfResource>\n  <genre authority=\"marcgt\">motion
        picture</genre>\n  <genre authority=\"lcgft\">Situation comedies (Television
        programs)</genre>\n  <genre authority=\"lcgft\">Fiction television programs.</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">xxu</placeTerm>\n
        \   </place>\n    <dateIssued>2010-11-04</dateIssued>\n    <dateIssued encoding=\"marc\">2010</dateIssued>\n
        \   <dateCaptured encoding=\"iso8601\">20101104</dateCaptured>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marccategory\">videorecording</form>\n
        \   <form authority=\"marcsmd\">videocassette</form>\n    <extent>viewing
        copy 1 videocassette of 1 (Betacam SP) (30 min.) : sd., col. ; 1/2 in.</extent>\n
        \ </physicalDescription>\n  <abstract type=\"Summary\">\"Ed finds himself
        attached to Root Beer, Vince and Bonnie's dog. Meanwhile, Henry has very rough
        sex with Vince and Bonnie's supervisor as Bonnie tells Ed to do the same human-canine
        attachment to Vince\"--Wikipedia WWW site, viewed June 9, 2014.</abstract>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">directed by
        Gail Mancuso ; written by Jeff Astrof.</note>\n  <note>Episode no. 7.</note>\n
        \ <note>Production no. 2J5658.</note>\n  <note>Sources used: video container;
        Copyright catalog online; Copyright description; Wikipedia WWW site, viewed
        June 9, 2014.</note>\n  <note type=\"performers\">William Shatner.</note>\n
        \ <note type=\"performers\">Guest star: Missi Pyle.</note>\n  <classification
        authority=\"lcc\">VAP 8699 (viewing copy)</classification>\n  <identifier
        type=\"lccn\">2014603699</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <descriptionStandard>amim</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">140609</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20140609133830.0</recordChangeDate>\n
        \   <recordIdentifier>18181703</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.117 2017/02/14)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>11</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>$#*! my dad says</title>\n    <partName>Easy writer</partName>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>Easy writer</title>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\" displayLabel=\"Copyright
        application title:\">\n    <title>S#*! my dad says</title>\n    <partName>Easy,
        writer</partName>\n  </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>Shit
        my dad says</title>\n    <partName>Easy, writer</partName>\n  </titleInfo>\n
        \ <titleInfo type=\"alternative\">\n    <title>Bleep my dad says</title>\n
        \   <partName>Easy, writer</partName>\n  </titleInfo>\n  <name type=\"corporate\">\n
        \   <namePart>Copyright Collection (Library of Congress)</namePart>\n  </name>\n
        \ <typeOfResource>moving image</typeOfResource>\n  <genre authority=\"marcgt\">motion
        picture</genre>\n  <genre authority=\"lcgft\">Situation comedies (Television
        programs)</genre>\n  <genre authority=\"lcgft\">Fiction television programs.</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">xxu</placeTerm>\n
   [...]
