---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=1&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>Laboratory life</title>\n    <subTitle>the construction
        of scientific facts</subTitle>\n  </titleInfo>\n  <name type=\"personal\"
        usage=\"primary\">\n    <namePart>Latour, Bruno.</namePart>\n  </name>\n  <name
        type=\"personal\">\n    <namePart>Woolgar, Steve.</namePart>\n  </name>\n
        \ <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">bibliography</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">nju</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Princeton, N.J</placeTerm>\n
        \   </place>\n    <publisher>Princeton University Press</publisher>\n    <dateIssued>c1986</dateIssued>\n
        \   <dateIssued encoding=\"marc\">1986</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>294 p. : ill. ; 24 cm.</extent>\n  </physicalDescription>\n  <note
        type=\"statement of responsibility\" altRepGroup=\"00\">Bruno Latour, Steve
        Woolgar ; introduction by Jonas Salk ; with a new postscript and index by
        the authors.</note>\n  <note>Reprint. Originally published: Beverly Hills
        : Sage Publications, c1979. (Sage library of social research ; v. 80)</note>\n
        \ <note type=\"bibliography\">Includes bibliographies and index.</note>\n
        \ <subject authority=\"lcsh\">\n    <topic>Biology</topic>\n    <topic>Research</topic>\n
        \ </subject>\n  <subject authority=\"lcsh\">\n    <topic>Biology</topic>\n
        \   <topic>Methodology</topic>\n  </subject>\n  <classification authority=\"lcc\">QH315
        .L315 1986</classification>\n  <classification authority=\"ddc\" edition=\"19\">574/.072</classification>\n
        \ <identifier type=\"isbn\">069102832X (pbk.) :</identifier>\n  <identifier
        type=\"isbn\">0691094187 (hard : alk. paper) :</identifier>\n  <identifier
        type=\"lccn\">85043378</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">860114</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20161230085235.0</recordChangeDate>\n    <recordIdentifier>499564</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.5 using MARC21slim2MODS3-5.xsl\n\t\t\t\t(Revision
        1.106 2014/12/19)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>Anarchism materials collected by Dr. Paul Avrich</title>\n
        \ </titleInfo>\n  <titleInf[...]
