---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=1&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Corona Beatae Mariae Virginis</title>\n  </titleInfo>\n
        \ <titleInfo type=\"uniform\">\n    <title>Corona B.M.V</title>\n  </titleInfo>\n
        \ <name type=\"corporate\">\n    <namePart>Early Printing Collection (Library
        of Congress)</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">fr</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Strassburg</placeTerm>\n
        \   </place>\n    <publisher>Printer of the 1483 Jordanus de Quedlinburg</publisher>\n
        \   <dateIssued>not after 1488]</dateIssued>\n    <dateIssued encoding=\"marc\">1488</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">lat</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>[2],
        lxxxiii, [1] fo. 29.4 cm.</extent>\n  </physicalDescription>\n  <note>Leaf
        [1a] (t. p.): Corona beate Marie uirginis.</note>\n  <note>Foliate initial
        painted in blue and green on leaf ia; other initials supplied in red and blue,
        paragraph marks in red.</note>\n  <note>Bound with [Pelba&#x301;rt, Oszva&#x301;ld,
        temesva&#x301;ri] Stellarium corone. [1501]</note>\n  <subject authority=\"lcsh\">\n
        \   <name type=\"personal\">\n      <namePart>Mary</namePart>\n      <namePart
        type=\"termsOfAddress\">Blessed Virgin, Saint</namePart>\n    </name>\n    <genre>Early
        works to 1800</genre>\n  </subject>\n  <classification authority=\"lcc\">BT600
        .P3</classification>\n  <relatedItem type=\"isReferencedBy\">\n    <titleInfo>\n
        \     <title>Brit. Mus. Cat. (XV cent.) I, p. 136 (IB. 1934) ; Gesamtkat.
        d. Wiegendr., 7573 ; Goff. Third census, C-923.</title>\n    </titleInfo>\n
        \   <part>\n      <detail type=\"part\">\n        <number/>\n      </detail>\n
        \   </part>\n  </relatedItem>\n  <identifier type=\"lccn\">75552598</identifier>\n
        \ <recordInfo>\n    <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">781208</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20190118010428.0</recordChangeDate>\n    <recordIdentifier>339161</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n    <languageOfCataloging>\n      <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n    </languageOfCataloging>\n
        \ </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Psychoanalytische Bemerkungen u&#x308;ber einen
        autobiographisch beschriebenen Fall von Paranoia (Dementia paranoides)</title>\n
        \ </titleInfo>\n  <name type=\"personal\" usage=\"primary\">\n    <namePart>Freud,
        Sigmund</namePart>\n    <namePart type=\"date\">1856-1939</namePart>\n  </name>\n
        \ <name type=\"corporate\">\n    <namePart>Sigmund Freud Collection (Library
        of Congress)</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <genre authority=\"marcgt\">bibliography</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">au</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Wien?</placeTerm>\n
        \   </place>\n    <publisher>Deuticke</publisher>\n    <dateIssued>1911]</dateIssued>\n
        \   <dateIssued encoding=\"marc\">1911</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">ger</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>p. [9]-68 ; 23 cm.</extent>\n  </physicalDescription>\n  <note
        type=\"statement of responsibility\" altRepGroup=\"00\">von Sigm. Freud.</note>\n
        \ <note>Caption title.</note>\n  <note>Sonderabdruck aus dem Jahrbuch fu&#x308;r
        psychoanalytische und psychopathologische Forschungen, Band III.\"</note>\n
        \ <note>Includes selections from D. P. Schreber's Denkwu&#x308;rdigkeiten
        eines Nervenkranken.</note>\n  <note type=\"bibliography\">Includes bibliographical
        references.</note>\n  <subject authority=\"lcsh\">\n    <topic>Paranoia</topic>\n
        \   <topic>Case studies</topic>\n  </subject>\n  <classification authority=\"lcc\">RC520
        .F73</classification>\n  <relatedItem type=\"constituent\">\n    <titleInfo>\n
        \     <title>Denkwu&#x308;rdigkeiten eines Nervenkranken. Selections. 1911</title>\n
        \   </titleInfo>\n    <name type=\"personal\">\n      <namePart>Schreber,
        Daniel Paul,</namePart>\n      <namePart type=\"date\">1842-1911</namePart>\n
        \   </name>\n  </relatedItem[...]
