---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=11&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>$#*! my dad says</title>\n    <partName>Not without
        my jacket</partName>\n  </titleInfo>\n  <titleInfo type=\"alternative\">\n
        \   <title>Not without my jacket</title>\n  </titleInfo>\n  <titleInfo type=\"alternative\"
        displayLabel=\"Copyright application title:\">\n    <title>S#*! my dad says</title>\n
        \   <partName>Not without my jacket</partName>\n  </titleInfo>\n  <titleInfo
        type=\"alternative\">\n    <title>Shit my dad says</title>\n    <partName>Not
        without my jacket</partName>\n  </titleInfo>\n  <titleInfo type=\"alternative\">\n
        \   <title>Bleep my dad says</title>\n    <partName>Not without my jacket</partName>\n
        \ </titleInfo>\n  <name type=\"corporate\">\n    <namePart>Copyright Collection
        (Library of Congress)</namePart>\n  </name>\n  <typeOfResource>moving image</typeOfResource>\n
        \ <genre authority=\"marcgt\">motion picture</genre>\n  <genre authority=\"lcgft\">Situation
        comedies (Television programs)</genre>\n  <genre authority=\"lcgft\">Fiction
        television programs.</genre>\n  <originInfo>\n    <place>\n      <placeTerm
        type=\"code\" authority=\"marccountry\">xxu</placeTerm>\n    </place>\n    <dateIssued>2010-10-21</dateIssued>\n
        \   <dateIssued encoding=\"marc\">2010</dateIssued>\n    <dateCaptured encoding=\"iso8601\">20101021</dateCaptured>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marccategory\">videorecording</form>\n
        \   <form authority=\"marcsmd\">videocassette</form>\n    <extent>viewing
        copy 1 videocassette of 1 (Betacam SP) (30 min.) : sd., col. ; 1/2 in.</extent>\n
        \ </physicalDescription>\n  <abstract type=\"Summary\">\"Ed gets upset when
        Henry uses his coffee mug without permission, explaining that it's his rule
        that someone must clear it with him before borrowing something (and he never
        breaks his rules). However, Ed must go to great lengths to retrieve a jacket
        of Henry's that he accidentally lent out without asking, to avoid looking
        like a hypocrite\"--Wikipedia WWW site, viewed June 9, 2014.</abstract>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">directed by
        Gail Mancuso Justin ; written by Halpern and Patrick Schumaker.</note>\n  <note>Episode
        no. 5.</note>\n  <note>Production no. 2J5655.</note>\n  <note>Sources used:
        video container; Copyright catalog online; Copyright description; Wikipedia
        WWW site, viewed June 9, 2014.</note>\n  <note type=\"performers\">William
        Shatner.</note>\n  <note type=\"performers\">Guest stars: Bob Stephenson,
        Brooklyn Sudano, Paula Calelisbe, Preston Jones.</note>\n  <classification
        authority=\"lcc\">VAP 8697 (viewing copy)</classification>\n  <identifier
        type=\"lccn\">2014603697</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <descriptionStandard>amim</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">140609</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20140609110500.0</recordChangeDate>\n
        \   <recordIdentifier>18181445</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.5 using MARC21slim2MODS3-5.xsl\n\t\t\t\t(Revision
        1.106 2014/12/19)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>11</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.5\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd\">\n
        \ <titleInfo>\n    <title>$#*! my dad says</title>\n    <partName>[Pilot]</partName>\n
        \ </titleInfo>\n  <title[...]
