---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=11&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Totem und Tabu</title>\n    <subTitle>einige U&#x308;bereinstimmungen
        im Seelenleben der Wilden und der Neurotiker</subTitle>\n  </titleInfo>\n
        \ <name type=\"personal\" usage=\"primary\">\n    <namePart>Freud, Sigmund</namePart>\n
        \   <namePart type=\"date\">1856-1939</namePart>\n  </name>\n  <name type=\"corporate\">\n
        \   <namePart>Sigmund Freud Collection (Library of Congress)</namePart>\n
        \ </name>\n  <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">bibliography</genre>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">ge</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Leipzig</placeTerm>\n
        \   </place>\n    <publisher>H. Heller</publisher>\n    <dateIssued>1913</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">ger</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>149
        p. ; 26 cm.</extent>\n  </physicalDescription>\n  <note type=\"statement of
        responsibility\" altRepGroup=\"00\">von Sigm. Freud.</note>\n  <note>\"Sonderabdruck
        aus 'Imago,' Bd. I u. II, 1912/13.\" Reset in new type, with a new pref.,
        several paragraphs omitted, and title changed from the original U&#x308;ber
        einige U&#x308;bereinstimmungen im Seelenleben der Wilden und der Neurotiker.</note>\n
        \ <note type=\"bibliography\">Includes bibliographical references.</note>\n
        \ <subject authority=\"lcsh\">\n    <topic>Neuroses</topic>\n  </subject>\n
        \ <subject authority=\"lcsh\">\n    <topic>Taboo</topic>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Totemism</topic>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Psychoanalysis</topic>\n  </subject>\n  <classification
        authority=\"lcc\">RC530 .F743 1913</classification>\n  <identifier type=\"lccn\">76459325</identifier>\n
        \ <recordInfo>\n    <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">760722</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20190118010545.0</recordChangeDate>\n    <recordIdentifier>825267</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n    <languageOfCataloging>\n      <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n    </languageOfCataloging>\n
        \ </recordInfo>\n</mods></zs:recordData><zs:recordPosition>11</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Vom Beten</title>\n  </titleInfo>\n  <name type=\"personal\"
        usage=\"primary\">\n    <namePart>Meichsner, Walther.</namePart>\n  </name>\n
        \ <name type=\"personal\">\n    <namePart>Hitler, Adolf</namePart>\n    <namePart
        type=\"date\">1889-1945</namePart>\n    <role>\n      <roleTerm type=\"text\">former
        owner.</roleTerm>\n    </role>\n  </name>\n  <name type=\"corporate\">\n    <namePart>Third
        Reich Collection (Library of Congress)</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">gw</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Berlin-Halensee</placeTerm>\n
        \   </place>\n    <publisher>Verlag \"Wahrheit und Freiheit\"</publisher>\n
        \   <dateIssued>[1930?]</dateIssued>\n    <dateIssued encoding=\"marc\">1930</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">ger</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>106
        p. ; 20 cm.</extent>\n  </physicalDescription>\n  <note type=\"statement of
        responsibility\" altRepGroup=\"00\">Walther Meichsner.</note>\n  <note type=\"ownership\">LC
        copy has inscription on p. [2] of cover: \"Ihnen hochverehrter Herr Hitler
        gewidmet. F. Raabe im Ma&#x308;rz 1932\". DLC</note>\n  <subject authority=\"lcsh\">\n
        \   <topic>Prayer</topic>\n    <topic>Christianity</topic>\n  </subject>\n
        \ <classification authority=\"lcc\">BV210 .M48</classification>\n  <relatedItem
        type=\"isReferencedBy\">\n    <titleInfo>\n      <title>Gassert &amp; Mattern.
        \ Hitler library,</title>\n    </titleInfo>\n    <part>\n      <detail type=\"part\">\n
        \       <number>660</number>\n      </detail>\n    </part>\n  </relatedItem>\n
        \ <identifier type=\"lccn\">77464455</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">770623</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20190118010546.0</recordChangeDate>\n    <recordIdentifier>839510</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordIn[...]
